body{
	background-color: black;
}

/* header */
header img {
  max-height: 1000px;
  object-fit: cover;
}

.accordion.item {
	font-family: verdana;
}

/*pintura*/
.carousel{
	max-width: 1000px;
	min-width: 1000px;
	margin: auto;
	overflow: hidden;

}

.carousel.item img{
	object-fit: cover;
	height: 450px;

}

.carousel-indicators button{
	width: 12px;
	height: 12px;
	border-radius: 50%;
}